# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite / DB files
*.sqlite
*.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# VSCode settings
.vscode/
